.Main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

.AdviceContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  width: 92%;
  padding: 4rem 2.4rem;
  padding-bottom: 6rem;
  text-align: center;
  background-color: hsl(217, 19%, 24%);
  border-radius: 1rem;
  margin: auto;
}

.AdviceSerialNo {
  text-transform: uppercase;
  font-size: 1.1rem;
  letter-spacing: 0.32rem;
  color: hsl(150, 100%, 66%);
}

.Advice {
  font-size: 2.4rem;
  color: hsl(193, 38%, 86%);
  line-height: 3.6rem;
}

.TabViewDivider {
  display: none;
}


.MobileViewDivider {
  display: block;
}


.Button {
  position: absolute;
  width: 6.5rem;
  height: 6.5rem;
  border-radius: 50%;
  background: hsl(150, 100%, 66%) url('./images/icon-dice.svg');
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

.Button:hover {
  cursor: pointer;
  box-shadow: 0 0 30px 5px hsl(150, 100%, 66%);
}

.Attribution { color: hsl(193, 38%, 86%); font-size: 12px; text-align: center; letter-spacing: 0.1rem;}
.Attribution a { color: hsl(150, 100%, 66%); text-decoration: none; font-size: 1.4rem}

@media (min-width: 700px) {
  .AdviceContainer {
    max-width: 54.4rem;
    padding: 5rem 5rem;
    padding-bottom: 7rem;
    border-radius: 1.4rem;
    gap: 2.2rem;
  }

  .AdviceSerialNo {
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 0.38rem;
  }
  
  .Advice {
    font-size: 2.8rem;
    line-height: 3.8rem;
  }

  .MobileViewDivider {
    display: none;
  }

  .TabViewDivider {
    display: block;
  }
}