*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}

html {
  height: 100%;
  font-size: 62.5%;
}

body {
  display: grid;
  width: 100%;
  min-height: 100%;
  background-color: hsl(218, 23%, 16%);
  margin: auto;
}